* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  text-align: center;
}

.task-form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.task-form input,
.task-form select,
.task-form button {
  padding: 10px;
  font-size: 16px;
}

#taskList {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-left: 4px solid transparent;
}

.task-item span {
  font-weight: bold;
}

.buttons button {
  margin-left: 5px;
  padding: 5px 10px;
}


.task-item[data-priority="High"] {
  border-left: 4px solid red;
}

.task-item[data-priority="Medium"] {
  border-left: 4px solid orange;
}

.task-item[data-priority="Low"] {
  border-left: 4px solid green;
}